<h2 mat-dialog-title>Transferencia</h2>
<form [formGroup]="form" (ngSubmit)="enviarTransferencia()">
  
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Cuenta destino</mat-label>
    <mat-select formControlName="cuentaDestinoId">
      <mat-option *ngFor="let cuenta of cuentasDestino" [value]="cuenta.id">
        {{ cuenta?.nombre }} {{ cuenta?.apellido }} - {{ cuenta?.numeroCuenta }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('cuentaDestinoId')?.hasError('required')">
      Debe seleccionar una cuenta destino
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Monto</mat-label>
    <input matInput type="number" formControlName="monto" />
    <mat-error *ngIf="form.get('monto')?.hasError('required')">
      Debe ingresar monto
    </mat-error>
    <mat-error *ngIf="form.get('monto')?.hasError('min')">
      El monto debe ser mayor a cero
    </mat-error>
  </mat-form-field>

  <div mat-dialog-actions>
    <button mat-button type="button" (click)="cancelar()">Cancelar</button>
    <button mat-flat-button color="primary" type="submit">Enviar</button>
  </div>
</form>
