section {
  max-width: 100vw;
  padding: 2vh;
  border-radius: 12px;
}

section h2 {
  font-weight: 600;
  font-size: 28px;
  color: #1a3d8f; 
  margin-bottom: 5vh;
  text-align: center;
}

.full-width {
  width: 100%;
  margin-bottom: 1.2rem;
}

mat-form-field {
  width: 100%;
}

mat-label {
  font-weight: 500;
  color: #3b3b3c;
}

.info-form {
  font-size: 14px;
  color: #555555;
  margin-bottom: 1.5rem;
}

mat-error {
  font-size: 12px;
  color: #e82f29; 
  margin-top: 0.25rem;
}

.acciones {
  display: flex;
  justify-content: center; 
  gap: 5vw; 
  margin-top: 1.5rem;
}

button[mat-flat-button] {
  background-color: #ff7f3c; /* naranja para guardar */
  color: white;
  font-weight: 700;
  border-radius: 6px;
  padding: 6px 28px; /* más ancho horizontal */
  font-size: 14px;
  min-width: 120px; /* ancho mínimo */
  transition: background-color 0.3s;
  border: none;
  cursor: pointer;
  text-align: center;
}

button[mat-flat-button]:hover:not(:disabled) {
  background-color: #e6732a;
  color: white;
}

button[mat-flat-button]:disabled {
  background-color: #c4b09c;
  cursor: default;
  color: #f1e7d3;
}

button[mat-button] {
  background-color: #d9534f; /* rojo para cancelar */
  color: white;
  font-weight: 700;
  padding: 6px 28px; 
  font-size: 14px;
  min-width: 120px; 
  border-radius: 6px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
  text-align: center;
}

button[mat-button]:hover {
  background-color: #c22823;
  color: white;
}